{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Bicycle</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

</head>

<body>

    <nav>
        <img src="/static/img/log.png" class="logo">
        <div class="nav-icons">
            <img src="/static/img/search.png">
            <a href="/cart">
            <img src="/static/img/cart.png"></a>
            <img src="/static/img/menu.png">
        </div>
    </nav>
    {% for cycle in cycles %}
    <div class="container">
        <div class="row">
            <div class="col-1">
                <h1>{{cycle.firstName}}<br>{{cycle.lastName}}</h1>
                <p>{{cycle.details}}</p>
                <h2>₹ {{cycle.price}}</h2>
                <a href="/cart">
                <button data-cycle={{cycle.id}} data-action="add" class="update-cart" type="button">ADD TO CART</button>
                </a>
            </div>
            <div class="col-2">
                <div class="feature-img">
                    <img src="{{cycle.img.url}}">
                </div>
                <h2>{{ cycle.firstName }}</h2>
            </div>
        </div>
    </div>
    {% endfor %}

    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
    
    <script type="text/javascript">
        var user= '{{request.user}}'
        var csrftoken = '{{csrf_token}}'
    </script>
</body>

</html>