{% extends 'base.html' %}

{% block title %}Sign up{% endblock title %}

{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeet Cycle Store Signup</title>
    <link href="{% static '/css/style2.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="form"> 
    <p>Register</p>
    <form method="POST" action="register"> 
        {% csrf_token %}
        <input class="text" type="text" name="username" placeholder="User Name" required="">
        <input class="text email" type="email" name="email" placeholder="Email" required="">
        <input class="text" type="password" name="password1" placeholder="Password" required="">
        <input class="text" type="password" name="password2" placeholder="Confirm Password" required="">
        <button>Signup</button>
        <p class="message">Already have an Account? <a href="/login"> Login Now!</a></p>
    </form>
    </div>
</body>
</html>

{% endblock body %}


